
<div class="downsizes-container">
  <h2 class="downsizes-title">Downsizes</h2>
  <div class="grid-container">
    <img class="downsizes-img" src="https://fiatluxsf.com/cdn/shop/files/checkup_downsizelabret_400x400.jpg?v=1691189868" alt="Imagen">
    <div class="content">
        <h2 class="downsizes-subtitle">Sobre el servicio de downsize</h2>
        <p class="downsizes-text">El downsizing es una fase crucial en el proceso de cuidado de un piercing que merece una atención especializada.</p>
        <p class="downsizes-text">Con años de experiencia en el mundo del piercing, entiendo la importancia de esta etapa para asegurar una cicatrización exitosa y un aspecto final óptimo.</p>

    </div>
  </div>
</div>