<footer class="footer-container">
  <div class="footer-logo">
    <img src="../../assets/images/logo.png" alt="logo" />
  </div>

    <div class="upper-footer-container">
      <div class="upper-footer-columns">
        <div class="upper-column1">

            <img class="footer-img" src="../../assets/icons/instagram.svg" alt="instagram"/>


            <img class="footer-img" src="../../assets/icons/whatsapp.svg" alt="whatsapp" />


            <img class="footer-img" src="../../assets/icons/tiktok.svg" alt="tiktok" />


            <img class="footer-img" src="../../assets/icons/twitter.svg" alt="twitter" />

        </div>
        <div class="upper-column2">
          <h4 class="upper-font"> 123-456-789</h4>
          <h4 class="upper-font"> Calle España y el río </h4>
          <h4 class="upper-font"> Rosario, Argentina </h4>
        </div>

      </div>
    </div>
    <div class="lower-footer-container">
      <h6 class="lower-font">Todos los derechos reservados.</h6>
      <h6 class="lower-font">© 2023 - Developed by <a class="link-font" href="https://ar.linkedin.com/in/yamilhamui" target="_blank"> YamilH</a></h6>
    </div>



</footer>