
<div class="about-container">
  <h2 class="about-title">Cursos</h2>
  <div class="grid-container">
    <img class="about-img" src="https://scontent.fros9-1.fna.fbcdn.net/v/t1.6435-9/46389005_1936140866687585_7892452488907849728_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=730e14&_nc_ohc=Vc3-KhYGsFYAX92j3Z8&_nc_ht=scontent.fros9-1.fna&oh=00_AfBGG8nIhBPQvJ_exmYyppKqYuH02vx9KJfAPVPj3E6lxQ&oe=65215490" alt="Imagen">
    <div class="content">
        <h2 class="about-subtitle">Sobre los cursos</h2>
        <p class="about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nemo beatae tempora, aspernatur provident repudiandae iure earum iste impedit, exercitationem culpa expedita sequi optio, modi doloribus odit consequuntur sunt ut!.</p>
        <p class="about-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum quia modi nam id nobis, tempora delectus sequi perspiciatis consectetur laboriosam.</p>
        <p class="about-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa, earum laudantium quidem doloribus amet similique, sed repellendus mollitia aut tempore quas modi unde explicabo odit harum cum animi alias exercitationem. Quasi amet minima laborum inventore maiores, cupiditate nesciunt, ipsa blanditiis impedit fugiat ex voluptatibus quidem delectus soluta! Nulla, magnam mollitia!.</p>
        <p class="about-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum quia modi nam id nobis, tempora delectus sequi perspiciatis consectetur laboriosam.</p>
    </div>
  </div>
</div>