
<div class="consultation-container">
  <h2 class="consultation-title">Consultas Presenciales</h2>
  <div class="grid-container">
    <img class="consultation-img" src="https://bodypiercingacademy.uk/____impro/1/onewebmedia/qQrch5sIw__JupYvC34aVpyq5gyQIpEkq8WYIBt2Ex8.jpg?etag=W%2F%2219811-5900d9c3%22&sourceContentType=image%2Fjpeg&ignoreAspectRatio&resize=380%2B570&extract=0%2B39%2B380%2B530&quality=85" alt="Imagen">
    <div class="content">
        <h2 class="consultation-subtitle">Sobre las consultas en el estudio</h2>
        <p class="consultation-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, architecto!.</p> 
        <p class="consultation-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis vel placeat obcaecati quis, sit dignissimos!.</p>
        <p class="consultation-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero doloremque molestias quidem saepe, repudiandae quisquam a delectus maxime. In quod quam praesentium inventore voluptas quo maxime, voluptatibus veniam consequuntur quos!.</p>
        <p class="consultation-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum asperiores mollitia laboriosam adipisci tenetur rem blanditiis quos vel maiores voluptatem..</p>
    </div>
  </div>
</div>