.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  padding-top: 70px;
}

// .sidenav .mat-toolbar {
//   background: inherit;
// }

.mat-toolbar.mat-primary {
  position: fixed; //antes sticky
  top: 0;
  z-index: 2;
}

.spacer {
  flex: 1 1 auto;
}

.hidden {
  display: none;
}

.active-link {
  color: #ffc000;
}

.nav-title {
  font-family: 'Dancing Script', cursive;
}